<header class="header">
  <div class="logo">
    <h1>Özel Eğitim Merkezi</h1>
  </div>
  <nav class="nav">
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Anasayfa</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/yonetim" routerLinkActive="active">Yönetim</a></li>
      <li><a routerLink="contact" routerLinkActive="active">İletişim</a></li>
    </ul>
  </nav>
  <div class="profile">
    <span class="username">Hello, Alperen</span>
  </div>
</header>
