<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="profile-box shadow border p-4">
      <p>Güncel Puanım: 85</p>

      <app-basvurular></app-basvurular>

      <div class="button-container">
        <button style="width: 250px;" class="apply-button btn btn-success btn-block">Başvuru Yap</button>
        <button style="width: 250px;" class="later-button btn btn-primary btn-block">Sonradan Başvuru</button>
      </div>
    </div>
  </div>
  